@model ProductDemo.Models.CartItem

<h1>Xóa Sản Phẩm</h1>

<h4>Bạn muốn Xóa Sản Phẩm này?</h4>
<div>
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên Sản Phẩm
        </dt>
        <dd class="col-sm-10">
            @Model.Product!.ProductName
        </dd>
        <dt class="col-sm-2">
            Số Lượng
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
        <dt class="col-sm-2">
            Giá Tiền
        </dt>
        <dd class="col-sm-10">
            @Model.Price.ToString("C")
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete" asp-controller="Cart">
        <input type="hidden" asp-for="CartItemId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Hủy</a>
    </form>
</div>
